<!-- <router-outlet></router-outlet> -->


<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" backgroundColor="primary">
  <mat-tab *ngFor="let category of categories; let categoryIndex = index;" label="{{category.title}}">
    <div [formGroup]="getCategoryFormGroup(categoryIndex)">
      <ng-container formArrayName="questions">
        <ng-container *ngFor="let questionForm of getQuestionsFormGroups(categoryIndex).controls; let questionsIndex = index">
          <mat-card [formGroup]="questionForm" style="margin: 25px; padding: 5px;">

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-select placeholder="Type" formControlName="type" #selectType>
                <mat-option value="input">Input</mat-option>
                <mat-option value="radio button">Radio Button</mat-option>
                <mat-option value="check box">Check Box</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Title</mat-label>
              <textarea matInput formControlName="title" placeholder="Title"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;" *ngIf="">
              <mat-label>Value</mat-label>
              <textarea matInput formControlName="value" placeholder="Value"></textarea>
            </mat-form-field>

            <ng-container formArrayName="options">
              <mat-card-title>Options</mat-card-title>
              <ng-container *ngFor="let optionsForm of getOptionsFormGroups(categoryIndex, questionsIndex).controls; let k = index">
                <mat-card [formGroup]="optionsForm" style="margin: 25px; padding: 5px;">
                  <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Options</mat-label>
                    <input  matInput formControlName="option" placeholder="Option">
                  </mat-form-field>
                </mat-card>
              </ng-container>
            </ng-container>

          </mat-card>
        </ng-container>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>